header ul.flex {
    gap: 20px;
}

header ul li a {
    color: var(--title);
    opacity: .8;
    font-size: .85rem;
    font-weight: 600;
}

.naav {
    text-align: center;
    margin: auto;
    margin-left: 40px;
}

.naav li {
    margin-left: 22px;

}


.logo {
    font-weight: bolder;
    font-size: 28px;
    letter-spacing: 2px;
    color: var(--title);
}


header ul li a:hover {
    color: var(--blue);
    opacity: 1;
    font-size: .9rem;
    font-weight: 600;
}

header button {
    font-size: 1.1rem;
}

header.flex {
    justify-content: space-between;
    padding: 0 2.5rem;
    margin-top: 1rem;
}

header.flex nav {
    background-color: rgba(171, 171, 171, 0.5);
    padding: .6rem 1.6rem;
    border-radius: 30px;
    margin: auto;
    box-shadow: 2px 2px 10px rgb(29, 21, 57);

}

header button.menu {
    display: none;
}

header .fixed {
    position: fixed;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    inset: 0;
    z-index: 10;
    background-color: rgba(45, 45, 50, 0.70);
    backdrop-filter: blur(3.5px);
}

@keyframes menuu {
    0% {
        scale: 1;
    }

    70% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }

}

header .fixed ul.model {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secindary);
    animation: menuu .8s 1;
}

header .fixed ul.model li {
    border-bottom: 1px solid var(--border);
    padding-bottom: .8rem;
    padding-top: .4rem;

}

header .fixed ul.model li:last-child {
    border: none;
}

header .fixed ul.model li a {
    font-size: 1rem;
}

header .fixed ul.model li:first-child {
    text-align: right;
    border: none;
    /* border-bottom: 1px solid var(--border); */
    padding-bottom: 0;
    padding-top: .1rem;
    margin-bottom: -1rem;


}

/* icooooon */
header .icon-menu,
header .mode {
    background-color: var(--secindary);
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: var(--childtitle);
    border: 1px solid rgb(1, 71, 71);
    transition: .2s;
    margin-left: 20px;
}

header .icon-menu:hover,
header .mode:hover {

    border: 1px solid rgb(4, 116, 116);
    color: var(--title);
}

header .icon-cross {
    font-size: 1.1rem;
    color: var(--childtitle);
    transition: .2s;
    font-weight: bolder;

}

header .icon-cross:hover {
    font-size: 1.3rem;
    color: rgb(204, 13, 13);
    rotate: 180deg;
}

.icons {
    font-size: 22px;
    transition: .2s;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.icons:hover {
    font-size: 24px;
}

.connectt {
    border: 1px solid rgb(168, 168, 168);
    height: 50px;
    width: 170px;
    text-align: center;
    font-weight: bolder;
    position: relative;
    z-index: 3;
    font-size: 22px;
    color: var(--title);

}

.con {
    display: inline-block;
    border: none;
    margin-left: 10px;

}

.connectt:hover {
    color: black;
    z-index: 4;

}

.connectt:hover::after {
    width: 100%;
    height: 100%;
    opacity: .8;
}

.connectt::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--title);
    opacity: 0;
    transition: all .5s linear;
    z-index: -1;
}


@media (max-width:700px) {

    header.flex nav,
    
    .logo {
        display: none;
    }

    .social-icon .aa {
        display: none;
    }

    .icons {
        display: none;

    }

    header button.menu {

        display: block;
    }

}
@media (max-width:01000px) {

    header.flex nav,
    
    .logo {
        display: none;
    }

    /* .social-icon .aa {
        display: none;
    }

    .icons {
        display: none;

    } */

    header button.menu {

        display: block;
    }

}

.icon-sun{
    color: orange;
}







.social-icon a {
    width: 52px;
    height: 52px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(190, 190, 190, 0.5);
}

.social-icon a::before {
    content: "";
    width: 52px;
    height: 52px;
    position: absolute;
    background-color: var(--title);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 70%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.social-icon a img:hover {
    color: rgb(16, 124, 182);
}

/*  */
.ss {
    font-size: 28px;
    margin-left: 5px;
}


/* ///////////////////////////////////////////

header end

 /* /* /////////////////////////////////////////////////// */